@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Caprasimo', cursive; */

/* font-family: 'Caprasimo', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lora', serif;
font-family: 'PT Serif', serif; */

/* navbar css */
.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 8px;
  margin-bottom: 6px;
  text-transform:none;
  box-shadow: 0 8px 6px -6px #EEEDED;
  --webkit-box-shadow: 0 8px 6px #FFD717;
  border-bottom: 0.5px solid #EEEDED!important;
  
}

/* ============== navbar =============== */

.navbar-link {
  font-weight: 700 !important;
}

.active{
  border-bottom: 2px solid #FFD717;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  display: flex;
  max-width: 1070px;
  width: 100%;
}

.navbar-brand span{
  color: #FFD717;
}

/* ============== Header =============== */

.menu-nav{
  display: flex;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  justify-content:space-between;
  font-family: 'Poppins', sans-serif;
}

.cart{
  display: flex;
  font-weight: 700;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  justify-content:flex-end;
  font-family: 'Poppins', sans-serif;
}


/* ============== Footer =============== */
.footer{
  color: white;
  padding: 25px;
  background: #0DA574;
  margin-top: 6px;
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* ============== Page not found =============== */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ============== contact =============== */

.contactus {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-contact{
  font-weight: normal;
  line-height: 1.8;  
  text-align: center;
  background: #73c088;
}

/* ============== contact =============== */

.aboutus {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
} 

.title-aboutus{
  font-weight: normal;
  line-height: 1.8;  
  text-align: center;
  background: #73c088;
}
.aboutus-heading{
  font-weight: normal;
  line-height: 3;
}

.aboutus-text{
  font-weight: normal;
  text-indent: 30px; 
}

/* ============== contact =============== */

.policy {
  display: flex;
  align-items: center;
  line-height: 3;
}

.policy-text{
  font-weight: normal;
  text-indent: 30px; 
  line-height: 2;
}

/* ============================== register page ============================ */
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

/* ============== product =============== */

.product-link {
  text-decoration: none !important;
  color: black !important;
}

/* ============== search =============== */
.search-box{
  background-color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-right: 200px;
  margin-left: 200px;
  padding: 0px 5px 0px 20px;
  border-radius: 30px;
}

.search-box .search-input{
  height: 30px;
  border: none;
  width: 100%;
  padding: 0px 10px;
  outline: none;
}

.search-box .btn-search{
  width: 220px;
  height: 30px;
  border-radius: 30px;
  background-color: #0DA574;
  border: none;
  outline: none;
  cursor: pointer;
  transform: all ease 0.3s;
}

.BsSearchHeartFill{
  font-size: 1.3em;
  margin: 0px 10px;
}

.search-box .btn-search:hover{
  background-color: #FFD717;
  color: #fff;
  transform: all ease 0.3s;
}

.dropdown-item:hover{
  background-color: #FFD717;
  color: #fff;
}

.dropdown-item.active {
  color: #fff;
  text-decoration: none;
  background-color: #FFD717;
}

.navbar-toggler{
  background-color: #FFD717;
  color: #fff;
}


