@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lora:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Caprasimo', cursive; */

/* font-family: 'Caprasimo', cursive;
font-family: 'Lora', serif; */