/* ============== register page =============== */
.form-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-direction: column;
    background-color: #FFFFFF;
    /* background-image: linear-gradient(0deg, #73C088 0%, #FBD741 100%); */
  }
  
  .form-container form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: #C8EAD1;
  }
  
  .form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
  }
  
  .form-container form button {
    border: 1px solid #73C088;
    border-radius: 0;
    background-color: #73C088;
    color: white;
    width: 250px;
  }
  
  .form-container form button:hover {
    border: 1px solid #C8EAD1;
    background: #C8EAD1; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #C8EAD1,
      #C8EAD1
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #C8EAD1,
      #C8EAD1
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .forgot-btn {
    background-color: #FBD741 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }

  /* --------------forgot password----------------- */
  .card2 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}