/* Style the table */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

  /* Style table headers and table data */
.table-cat-th, .table-cat-td {
    text-align: center;
    padding: 16px;
    background-color: #000;
    color: #fff;
}

th:first-child, td:first-child {
    text-align: left;
}



.btn-edit{
    padding: 5px 5px;
    width: 20%;
    background-color: #0DA574;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    
}

.btn-edit:hover{
    background-color: #FFD717;
    color: #000;
    transform: all ease 0.3s;
}

.btn-delete{
    padding: 5px 5px;
    width: 20%;
    background: #CD1818;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    font-weight: 600;
    border-radius: 20px;
    font-weight: 600;
    
}

.btn-delete:hover{
    background-color: #FFD717;
    color: #000;
    transform: all ease 0.3s;
}

