.section {
    padding: 100px 100px;
} 

.banner {
    max-width: 1250px;
    height: 550px;
    border-radius: 30px;
    background-color: #fff;
    margin: 10px auto;

}

.carousel-inner {
    max-width: 1250px;
    height: 550px;
    border-radius: 30px;
    margin: 10px auto;
}

.back-video {
    object-fit: cover;
    max-width: 100%;
}

.content {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 75%;
    width: 100%;

    /* Center the content */
    align-items:flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    right: 30px;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    color: #fff;
}

.content a{
    background: #000;
    color: #fff;
    padding: 15px 35px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    
}

.home-page h1 {
    color: gray;
    font-family: "Playfair Display", serif;
}

.home-page {
    display: flex;
    flex-wrap: wrap;
}
.home-page .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
}
.home-page .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-page .card-price {
    color: green;
    font-weight: bold;
}
.home-page button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.home-page .card-text {
    color: rgb(90, 89, 89);
}

.home-page .card img:hover {
    transform: scale(0.9);
}

.home-page .card-img-top {
    height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
    margin-top: 100px;
    color: gray !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

/* .ant-checkbox-wrapper:first-of-type {
    margin-left: 8px;
} */

.ant-checkbox-wrapper {
    margin: 2px;
}
.ant-radio-wrapper {
    margin-bottom: 5px !important;
    margin-left: 10px;
}

.filters button {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: 20px;
}

.loadmore {
    color: green;
    font-weight: bold;
    font-size: 20px !important;
}

.Celeb h1{
    font-size: 2rem;
    font-weight: 700;
    color: #001F3F;
    letter-spacing: 0.5px;
    justify-content: center;
    margin-top: 20px;
}

.category-list{
    display: flex;
    flex-direction: column;
    max-width: 10000px;
    margin: 50px auto;
}

.home-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-heading h1{
    font-size: 2rem;
    font-weight: 700;
    color: #001F3F;
    letter-spacing: 0.5px;
}

.home-heading span{
    font-weight: 400;
    color: #001F3F;
    letter-spacing: 1px;
}

/* ======= Product Section ====== */

.product-list{
    background-color: #ecf7ee;
    border-radius: 20px;
    margin-top: 20px;
}

.pre-list{
    background-color: beige;
    border-radius: 20px;
    
}

.pre-inner{
    height: 480px;
    margin-left: 5px;
}

.product-inner{
    margin-left: 5px;
}

.product-container{
    display: grid;
    grid-column-end: auto;
    grid-gap: 30px;
    margin: 40px 0px;
}

.product-box{
    width:260px;
    border: 1px solid #EEEDED;
    background-color: #fff;
    padding: 24.5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-flow: column wrap;
    
}

.show-product-link h6{
    display: flex;
    align-items: center;
    color: #000;
    letter-spacing: 0.5px;
    padding-top: 5px;
    flex-direction: column;
    position: relative;
}

.show-product-link:hover h6{
    display: flex;
    align-items: center;
    color: #0DA574;
    letter-spacing: 0.5px;
    padding-top: 5px;
    flex-direction: column;
    position: relative;
}


.show-product-link{
    color: #000;
}

.show-product-link:hover{
    color: #0DA574;
}

.show-pre-link h6{
    display: flex;
    align-items: center;
    color: #000;
    letter-spacing: 0.5px;
    padding-top: 5px;
    flex-direction: column;
    position: relative;
}

.show-pre-link:hover h6{
    display: flex;
    align-items: center;
    color: #FFD717;
    letter-spacing: 0.5px;
    padding-top: 5px;
    flex-direction: column;
    position: relative;
}


.show-pre-link{
    color: #000;
}

.show-pre-link:hover{
    color: #FFD717;
}

.product-heading h1{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #001F3F;
    letter-spacing: 0.5px;
    padding-top: 30px;
    flex-direction: column;
    position: relative;
}

.product-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

.product-box .name-product{
    color: #001F3F;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}

.product-box .product-quantity{
    color: #949494;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.product-box .product-price{
    color: #001F3F;
    margin-top: 10px;
    font-size: 0.6 rem;
    font-weight: 500;
    
}
.product-box .btn-add{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #0DA574;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.product-box .btn-add:hover{
    background-color: #0DA574;
    color: #fff;
    transition: all ease 0.3s;
}

.product-box .btn-details{
    width: 100%;
    height: 40px;
    background-color: beige;
    color: #FFD717;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.product-box .btn-details:hover{
    background-color: #FFD717;
    color: #fff;
    transition: all ease 0.3s;
}
/* ======= Product Section ====== */

/* ======= Category Section ====== */

.card-category{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #0DA574;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.card-category:hover{
    width: 100%;
    height: 40px;
    background-color: #FFD717;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.cat-btn{
    font-size: 15px;
    font-weight: 700;
}

/* ======= Category Section ====== */

/* ======= Artist Section ====== */
.card-artist-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* .overlay :hover{
    opacity: 1;
} */

.artist-container:hover .overlay {
    opacity: 1;
}

.artist-title {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.name-artist-btn{
    font-size: 15px;
    font-weight: 700;
}

.name-artist-btn:hover{
    color: #FFD717;

}


/* ======= Artist Section ====== */