.section {
    padding: 100px 100px;
} 

.banner {
    /* Used to position the video and content */
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000;

}

.carousel-inner {
    /* Positioned at the top left corner */
    left: 0px;
    top: 0px;

    /* Take full size */
    height: 80%;
    width: 100%;

    /* Hide the scrollbar */
    overflow: hidden;
}

.back-video {
    object-fit: cover;

    /* Take full width */
    height: 85%;
    max-width: 100%;
}

.content {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 75%;
    width: 100%;

    /* Center the content */
    align-items:flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    right: 30px;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    color: #fff;
}

.content a{
    background: #000;
    color: #fff;
    padding: 15px 35px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    
}

.home-page h1 {
    color: gray;
    font-family: "Playfair Display", serif;
}

.home-page {
    display: flex;
    flex-wrap: wrap;
}
.home-page .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
}
.home-page .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-page .card-price {
    color: green;
    font-weight: bold;
}
.home-page button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.home-page .card-text {
    color: rgb(90, 89, 89);
}

.home-page .card img:hover {
    transform: scale(0.9);
}

.home-page .card-img-top {
    height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
    margin-top: 100px;
    color: gray !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

/* .ant-checkbox-wrapper:first-of-type {
    margin-left: 8px;
} */

.ant-checkbox-wrapper {
    margin: 2px;
}
.ant-radio-wrapper {
    margin-bottom: 5px !important;
    margin-left: 10px;
}

.filters button {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: 20px;
}

.loadmore {
    color: green;
    font-weight: bold;
    font-size: 20px !important;
}