.product-details {
    margin-top: 100px !important;
}

.product-details-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.product-details-info h6 {
    margin-bottom: 20px !important;
}

.btn-add-detail{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #0DA574;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.btn-add-detail:hover{
    background-color: #0DA574;
    color: #fff;
    transition: all ease 0.3s;
    border-radius: 20px;
}

.btn-add-detail:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }  
  

.btn-pre{
    padding: 5px 5px;
    width: 20%;
    background: #FBD85D;
    color: #000;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    font-weight: 600;
    margin-bottom: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    position:absolute;
}

.btn-pre:hover{
    background-color: #0DA574;
    color: #fff;
    transform: all ease 0.3s;
}

.choose-a-way-to-pay{
    margin-top: 25px;
}

.btn-csv{
    width: 80%;
    padding: 5px 5px;
    background: #FBD85D;
    color: #000;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.btn-csv:hover{
    background-color: #0DA574;
    color: #fff;
    transform: all ease 0.3s;
}

.btn-csv:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }  


