.product-details {
    margin-top: 100px !important;
}

.product-details-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.product-details-info h6 {
    margin-bottom: 20px !important;
}

.btn-add-detail{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #0DA574;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.btn-add-detail:hover{
    background-color: #0DA574;
    color: #fff;
    transition: all ease 0.3s;
    border-radius: 20px;
}
/* .similar-products .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
}

.similar-products .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.similar-products .card-price {
    color: green;
    font-weight: bold;
}
.similar-products button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.similar-products .card-text {
    color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
    transform: scale(0.9);
}   

.similar-products .card-img-top {
    height: 300px !important;
} */